<mat-tab-group>
	<mat-tab label="Editar">
		<!-- Cada vez que se haga un cambio en el binding de doble vía
		hay un evento change para que actualize el cambio -->
		<mat-form-field appearance="fill" (change)="changeMarkdown.emit($event.target.value)">
			<mat-label>{{placeHolderTextarea}}</mat-label>
			<!--  [()] y ngModel, para poder utilizar binding de doble vía.-->
				<textarea [(ngModel)]="contenidoMarkdown" matInput></textarea>
		</mat-form-field>
	</mat-tab>
	<mat-tab label="Preview">
		<markdown [data]="contenidoMarkdown" ngPreserveWhitespaces></markdown>
	</mat-tab>
</mat-tab-group>