<app-mostrar-errores [errores]="errores"></app-mostrar-errores>

<form (submit)="onSubmit()" [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Nombre*</mat-label>
    <input formControlName="nombre" matInput />
    <!-- en este caso solo hay un error, por lo quelo puedo poner explicito, si  no 
		utilizar la otra tecnica de validación -->
    <mat-error>El campo Nombre, es requerido.</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Fecha de Nacimiento</mat-label>
    <!-- se asocia con #picker -->
    <input
      formControlName="fechaNacimiento"
      matInput
      [matDatepicker]="picker"
    />
    <!-- se asocia con #picker -->
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <app-input-img [urlImagenActual]="modelo?.foto" (archivoSeleccionado)="archivoSeleccionado($event)"></app-input-img>

  <app-input-markdown 
  [contenidoMarkdown]="modelo?.biografia"
  [placeHolderTextarea]="'Biografía'" (changeMarkdown)="cambioMarkdown($event)"></app-input-markdown>
  

  <div>
    <!-- que se deshabilite si el usuario es invalido -->
    <button mat-flat-button color="primary" [disabled]="form.invalid">
      Guardar Cambios
    </button>
    <a mat-stroked-button routerLink="/actores">Cancelar</a>
  </div>
</form>
